<tr>
    <td>
        <img src="/images/date.png" />
        <p>{{localDate}}</p>
    </td>
    <td>
        <p>{{merchant}}</p>

        {{#if report}}
        <div class="report">
            <a href="/expense/report/{{_id}}">Report</a>
        </div>
        {{/if}}

    </td>
    <td>
        <img src="/images/amount.png" alt="" />
        <p>{{vault}} {{total}}</p>
    </td>
    <td>
        <img src="/images/category.png" alt="" />
        <p>{{category}}</p>
    </td>
    <td>
        <img src="/images/hastag.png" alt="" />
        <p>{{description}}</p>
    </td>
</tr>